@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

:root
{
   --bg-black-900:#f2f2fc;
   --bg-black-100:#fdf9ff;
   --bg-black-50:#e8dfec;
   --text-black-900:#302e4d;
   --text-black-700:#504e70;
    --skin-color:#fa380c;

}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family:sans-serif;
    background: white;
}
*{
    margin: 0%;
    padding: 0%;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
.aside_nav{
    width: 270px;
   background: var(--bg-black-100); 
   position: fixed;
   left: 0;
   top: 0;
   border-right: 1px solid var(--bg-black-50);
   height: 100%;
   z-index: 10;
   justify-content: center;
   align-items: center;;
}
.aside_nav .aside_title{
    padding-top: 20px;
    padding-left: 30px;
    height: 100px;
    color: var(--skin-color);
    text-transform: capitalize;
    font-family: 'Courier New', cursive;
    font-style: italic;
    background: #302e4d;

}
.aside_nav .nav{
    margin-top: 20px;
}
.aside_nav .nav li{
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
    padding-left: 20px;
}
.aside_nav .nav li a{
    font-size: 16px;
    font-weight: 600px;
    display: block;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
    padding: 5px 15px;
}
.aside_nav .nav a:hover{
    transform: scale(1.15);
    color: var(--skin-color);
}
.aside_nav .nav .active{
    color: var(--skin-color);
}
.aside_search{
    background: var(--skin-color);
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    height: 70px;
    text-align: center;
}
.search{
    border: 1 px solid var(--skin-color);
    outline: 0;
    
    font-family: inherit;
    border-radius: 2rem;
    font-size: 1.1rem;
    width: 90%;
    padding: 10px;
    background: #302e4d;
    color: var(--skin-color);
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.search::placeholder{
    padding: 10px;
    color: var(--skin-color);
    text-transform: uppercase;
    font-size: 14px;
}
.error{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    padding: 5px;
}

.display_section{
    
    min-height: 100vh;
    display: flex;
    padding: 0 30px;
    opacity: 1;
    width: 100%;
    flex-wrap: wrap;
}
.display_section .item{
    width: 30%;
    flex: 0 0 30%;
    height: 300px;
    margin: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 20px rgba(219, 240, 34, 0.15);
    text-align: center;
    background-color: beige;
}

.main_content{
    padding-left: 270px;
    
}
.card{
    border: 1px solid#ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
    height: 350px;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin-bottom: 30px;
    margin-right: 20px;
}
.card div{
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;

}
.card .front{
    background-color: beige;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    height: 100%;
    
}
.card .front .name h2{
    padding-bottom: 5px;
    font-family: inherit;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 17px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 250px;
    font-weight: 900;
    font-weight: bold;
}
.card .front .recipe_btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    outline: 0;
    text-transform: uppercase;
    font-weight: 800;
    background:var(--skin-color);
    margin-top: 300px;
    width: 100%;
    text-align: center;
    
}

.card .back{
    background-color: var(--skin-color);
    transform: rotateY(180deg);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    height: 100%;
}
.card .back h2{
    padding-bottom: 10px;
    font-family: inherit;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 14px;
    padding-bottom: 25px;
    text-decoration-line: underline;
}
.card .back .back_image img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: 20px;
    
}
.card .back .ingredients{
    font-size: 12px;
    margin-top: 75px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.card.flipped{
    transform: rotateY(180deg);
}
.flip{
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid #ccc;
}
.flp{
    width: 80px;
    padding: 5px 10px;
    background-color: var(--text-black-900);
    cursor: pointer;
    font-size: 0.8rem;
    border: none;
    border-radius: 20px;
    color: #fff;

}
.front .image img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    padding-bottom: 15px;
}

/*------contact section-----*/
#contact_section{
    min-height: 100vh;
    display: flex;
    padding: 0 30px;
    opacity: 1;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 270px;
}
#contact_section .contact{
   padding: 15px;
}
#submit-form{
    width: 100%;
}
#myName{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
#myEmail{
     width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
#message{
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
}
#btn{
    width: 100%;
    height: 40px;
    background: var(--skin-color);
}
